YetAnotherAutoChess/Connected Services/PlayerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestRandomUnitsFromPool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerLevel" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestRandomUnitsFromPoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="RequestRandomUnitsFromPoolResult" nillable="true" type="q3:ArrayOfBaseUnitPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerUsername" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="unit" nillable="true" type="q4:FigurePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUnitToPool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="unit" nillable="true" type="q5:BaseUnitPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUnitToPoolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="myself" nillable="true" type="q6:PlayerPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentsUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpponentsUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AutoChessPlayerLibrary" minOccurs="0" name="GetOpponentsUnitsResult" nillable="true" type="q7:ArrayOfFigurePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeDamage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeDamageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>